version: '3'

volumes: 
  grafana_data: 
services:
     push-stats:
          build: .
          restart: unless-stopped
          volumes:
               - ./logs:/logs
     relay:
          image: openmetric/carbon-c-relay:latest
          volumes:
               - ./conf/relay.conf:/openmetric/conf/relay.conf:ro
          depends_on:
               - carbon
          healthcheck:
               test: nc -zv localhost 2003
               interval: 10s
               timeout: 1s
               retries: 3
     carbon:
          image: openmetric/go-carbon:latest
          volumes:
               - ./conf/carbon.conf:/openmetric/conf/carbon.conf:ro
               - ./conf/schemas.conf:/openmetric/conf/schemas.conf:ro
               - ./whisper:/openmetric/data/whisper
          healthcheck:
               test: "curl -fsSL -o /dev/null 'http://localhost:8080/metrics/find/?query=*&format=json'"
               interval: 10s
               timeout: 1s
               retries: 3
     api:
          image: openmetric/carbonapi:latest
          volumes:
               - ./conf/api.yaml:/openmetric/conf/api.yaml:ro
          depends_on:
               - relay
          healthcheck:
               test: 'curl -fsSL -o /dev/null http://localhost:8080/lb_check'
               interval: 10s
               timeout: 1s
               retries: 3
     grafana:
          image: grafana/grafana-enterprise:9.0.4-ubuntu
          volumes:
               - grafana_data:/var/lib/grafana
               - ./conf/grafanaDatasource.yaml:/etc/grafana/provisioning/datasources/grafanaDatasource.yaml:ro
          ports:
               - '3000:3000'
          depends_on:
               - relay
          env_file:
               - ./conf/.env.grafana
          healthcheck:
               test: 'curl -fsSL -o /dev/null http://localhost:3000/login'
               interval: 10s
               timeout: 1s
               retries: 3
